.list-group-item {
  line-height: 2.5;
}

#logInBody{
  font-family: 'Roboto', sans-serif;
  background: url(../images/classroom.jpg) no-repeat center center fixed;
  background-size:cover ;
}

.main-section{
  margin: 0 auto;
  margin-top: 200px;
  padding: 0;
}

.modal-content{
  background-color:  rgb(179, 133, 66);
  opacity: .95;
  padding: 0 18px;
  box-shadow: 0px 0px 7px #848484;
}

.vomlogo{
  margin-top: -50px;
  margin-bottom: 35px;
}

.vomlogo img{
  height: 10%;
  width: 30%;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #848484;
}

.form-group{
  margin-bottom: 25px;
}

.form-group input{
  height: 42px;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  padding-left: 54px;
}

.fa-user{
  position: absolute;
  font-size: 22px;
  left: 28px;
  padding-top: 8px;

}

.fa-key{
  position: absolute;
  font-size: 22px;
  left: 28px;
  padding-top: 8px;
}

.btn{
  background-color:#53e29f;
  font-size: 19px;
  padding: 7px 14px;
  border-radius: 5px;
  border-bottom: 4px solid #219882;
}


.list-group-item {
  line-height: 2.5;
}

#contact-form {
  border: 5px solid black;
  padding: 50px;
  margin: 20px;
}

#grade-form {
  border: 5px solid black;
  padding: 30px;
  margin: 20px;
  justify-content: center;
}

#Submission-form {
  border: 5px solid black;
  padding: 30px;
  margin: 20px;
  justify-content: center;
}

.bodycss{
background-color: whitesmoke;
}